/* PAGE */
.login-page {
  min-height: 100%;
  padding: 40px 20px;
  background: #f5f3ef;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 80px;
}

/* LOGO */
.login-logo {
  font-size: 32px;
  font-weight: 900;
  color: #6f472c;
  margin-bottom: 20px;
}

/* CARD */
.login-card {
  width: 350px;
  background: white;

  padding: 25px;
  border-radius: 10px;

  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.login-card h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.login-card label {
  font-size: 13px;
  font-weight: 600;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;

  border-radius: 6px;
  border: 1px solid #ccc;

  outline: none;
}

.login-card input:focus {
  border-color: #8b5e3c;
  box-shadow: 0 0 0 2px rgba(139, 94, 60, 0.2);
}

/* BUTTON */
.continue-btn {
  width: 100%;
  padding: 10px;

  background: linear-gradient(to bottom, #8b5e3c, #6f472c);
  color: white;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

.continue-btn:hover {
  background: linear-gradient(to bottom, #a06a45, #8b5e3c);
}

/* TEXT */
.terms {
  font-size: 12px;
  margin-top: 15px;
}

.terms span {
  color: #6f472c;
  cursor: pointer;
}

.business {
  color: #6f472c;
  cursor: pointer;
  margin-top: 5px;
}

/* FOOTER */
.login-footer {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
  color: #555;
}

.login-footer span {
  margin: 0 10px;
  cursor: pointer;
}