/* PAGE */
.product-page {
  display: flex;
  gap: 50px;
  padding: 120px 60px 40px;
  background: #f5f3ef;
  align-items: center;
}

/* LEFT */
.product-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.product-left img {
  width: 100%;
  max-width: 420px;
  object-fit: contain;
}

/* RIGHT */
.product-right {
  flex: 1;
  max-width: 500px;
}

/* TITLE */
.title {
  font-size: 28px;
  margin-bottom: 10px;
}

/* RATING */
.rating {
  color: #f59e0b;
  margin-bottom: 10px;
  font-size: 14px;
}

/* BRAND */
.brand {
  font-size: 14px;
  margin-bottom: 10px;
}

/* PRICE */
.price-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.discount {
  color: red;
  font-weight: bold;
}

.price {
  font-size: 26px;
  font-weight: bold;
}

/* STOCK */
.stock.in {
  color: green;
}

.stock.out {
  color: red;
}

/* DELIVERY */
.delivery {
  font-size: 13px;
  margin: 10px 0;
}

/* DESC */
.desc {
  font-size: 14px;
  margin: 10px 0 20px;
}

/* BUTTONS */
.product-buttons {
  display: flex;
  gap: 15px;
}

.add-cart {
  background: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.buy-now {
  background: #8b5e3c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .product-page {
    flex-direction: column;
    padding: 100px 20px 30px;
    text-align: center;
  }

  .product-left img {
    max-width: 300px;
  }

  .title {
    font-size: 20px;
  }

  .price {
    font-size: 22px;
  }

  .product-buttons {
    flex-direction: column;
  }

  .add-cart,
  .buy-now {
    width: 100%;
  }
}

@media (max-width: 480px) {

  .product-left img {
    max-width: 250px;
  }

  .title {
    font-size: 18px;
  }
}