.cart-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;

background:rgba(0,0,0,0.4);

z-index:1500;
}

.cart-drawer{
position:fixed;
top:0;
right:0;

width:380px;
max-width:100%;

height:100vh;

background:white;

box-shadow:-4px 0 20px rgba(0,0,0,0.2);

transform:translateX(100%);
transition:0.3s ease;

z-index:2000;

display:flex;
flex-direction:column;
}

.cart-drawer.open{
transform:translateX(0);
}

.cart-header{
display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

border-bottom:1px solid #eee;
}


.cart-items{
flex:1;
overflow-y:auto;

padding:20px;
}


.cart-item{
display:flex;
gap:12px;
margin-bottom:18px;
}

.cart-item img{
width:60px;
height:60px;
object-fit:contain;
}


.cart-footer{
padding:20px;
border-top:1px solid #eee;
}

.checkout-btn{
width:100%;
padding:12px;

background:black;
color:white;

border:none;
border-radius:6px;

cursor:pointer;
}



@media (max-width:768px){

.cart-drawer{
width:100%;
}

}