.footer {
  background: linear-gradient(135deg, #3e2c23, #2f221b);
  color: #f5f1eb;
  padding: 20px;
}


.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 30px 0;
  text-align: center;
}

.feature span {
  font-size: 22px;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255,255,255,0.08);
  margin-bottom: 10px;
}

.feature h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.feature p {
  font-size: 14px;
  color: #bfbfbf;
}

.feature:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-top: 30px;
}


.footer h2,
.footer h3 {
  color: white;
  margin-bottom: 15px;
}

.footer p {
  color: #d6ccc2;
  font-size: 14px;
}


.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer ul li:hover {
  color: #a67c52;
}


.footer-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}


.subscribe {
  margin-top: 50px;
  text-align: center;
}

.subscribe h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.subscribe p {
  color: #cbbfb3;
  margin-bottom: 20px;
}


.subscribe-box {
  display: flex;
  max-width: 600px;
  margin: 0 auto;

  background: white;
  border-radius: 50px;
  overflow: hidden;

  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}


.subscribe-box input {
  flex: 1;
  padding: 14px 20px;
  border: none;
  outline: none;
  font-size: 14px;
}


.subscribe-box button {
  padding: 14px 25px;
  border: none;
  background: #a67c52;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-box button:hover {
  background: #8b6b4f;
}

.footer-bottom {
  border-top: 1px solid #5a4634;
  margin-top: 40px;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.payment {
  display: flex;
  gap: 15px;
}
.footer-icons svg {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-icons svg:hover {
  color: #a67c52;
  transform: scale(1.2);
}
@media (max-width: 900px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .features {
    grid-template-columns: 1fr;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }

  .subscribe-box {
    flex-direction: column;
  }

  .subscribe-box input,
  .subscribe-box button {
    border-radius: 6px;
    width: 100%;
  }
}