body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* SLIDES */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-size: cover;              
  background-position: center right;   
  background-repeat: no-repeat;

  display: flex;
  align-items: center;

  transform: translateX(100%);
  transition: transform 0.7s ease-in-out;
}
/* ACTIVE (CENTER) */
.slide.active {
  transform: translateX(0);
  z-index: 2;
}

/* PREVIOUS (LEFT) */
.slide.prev {
  transform: translateX(-100%);
}

/* OVERLAY */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

/* CONTENT */
.content {
  position: relative;
  z-index: 2;
  color: white;
  padding-left: 100px;
  max-width: 500px;
}

.content h1 {
  font-size: 60px;
  margin: 0;
}

.content p {
  margin: 20px 0;
  font-size: 18px;
}

.content button {
  padding: 12px 25px;
  border: none;
  background: #8b6f47;
  color: white;
  border-radius: 8px;
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 3;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: white;
}



@media (max-width: 768px) {
  .content {
    padding: 20px;
    text-align: center;
  }

  .content h1 {
    font-size: 32px;
  }

  .arrow {
    font-size: 24px;
  }
}