* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
 
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 40px;

  background: #f5f3ef;
  color: #1a1a1a;

  border-bottom: 1px solid #e5e5e5;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.brand {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.pc-text {
  font-size: 28px;
  font-weight: 900;
}

.p {
  color: #0b2a4a;
}

.c {
  color: #6b859d;
  margin-left: 2px;
}

.forge-text {
  font-size: 22px;
  font-weight: 800;
  color: #0b2a4a;
}


.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}
.close-btn {
  display: none;
}

.nav-item {
  position: relative;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 0;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #111;
  transition: 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}


.mega-menu {
  position: absolute;
  top: 55px;
  left: 0;

  background: #ffffff;

  display: flex;
  gap: 40px;
  padding: 25px;

  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);

  width: max-content;

  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

.nav-item:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.menu-column {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.menu-column h4 {
  color: #0b2a4a;
  margin-bottom: 10px;
  font-weight: 600;
}

.menu-column a {
  color: #374151;
  margin: 4px 0;
  font-size: 14px;
}

.menu-column a:hover {
  color: #111;
}


.search-box {
  display: flex;
  align-items: center;

  background: #ede9e3;
  padding: 8px 12px;

  border-radius: 6px;
  width: 260px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 8px;
  width: 100%;
}


.icons {
  display: flex;
  gap: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.icon span {
  font-size: 11px;
}

.profile-wrapper {
  position: relative;
}


.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 460px;

  background: white;
  color: black;

  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);

  overflow: hidden;
  z-index: 999;
}


.profile-dropdown::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 30px;

  width: 15px;
  height: 15px;

  background: white;
  transform: rotate(45deg);

  box-shadow: -2px -2px 5px rgba(0,0,0,0.05);
}

.dropdown-header {
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  border-bottom: 1px solid #eee;
}

.signin-btn {
  background: linear-gradient(to bottom, #8b5e3c, #6f472c);
  border: none;

  color: #ffffff;

  padding: 10px 24px;
  border-radius: 8px;

  font-weight: 600;
  font-size: 14px;

  cursor: pointer;
  transition: all 0.25s ease;
}

.signin-btn:hover {
  background: linear-gradient(to bottom, #a06a45, #8b5e3c);
  transform: translateY(-1px);
}

.dropdown-header p {
  font-size: 13px;
  margin: 0;
}

.dropdown-header span {
  color: #007185;
  cursor: pointer;
  font-weight: 500;
}


.dropdown-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}
.dropdown-content.single {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logout-btn {
  background: linear-gradient(to bottom, #8b5e3c, #6f472c);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
}

.column {
  flex: 1;
}


.column:first-child {
  border-right: 1px solid #eee;
  padding-right: 20px;
}

.column:last-child {
  padding-left: 20px;
}

.column h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.column p {
  font-size: 13px;
  margin: 6px 0;
  cursor: pointer;
}

.column p:hover {
  text-decoration: underline;
}


.cart-icon {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;

  background: red;
  color: white;

  font-size: 12px;
  font-weight: bold;

  padding: 2px 6px;
  border-radius: 50%;
}


.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .search-box {
    width: 180px;
    display: none;
  }
}
@media (max-width: 768px) {
  .close-btn {
    display: block;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .pc-text {
    font-size: 22px;
  }

  .forge-text {
    font-size: 16px;
  }

  .nav-links {

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    padding: 80px 20px;
    gap: 20px;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    z-index: 1000;


  }

  .nav-links.active {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}
